* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway";
}

.container {
  display: grid;
}

.nav {
  grid-area: nav;
}

.custom-nav {
  background-color: darkred;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.aside {
  grid-area: aside;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}

.aside__label {
  color: #333;
  font-size: 16px;
}

.aside__select {
  color: #555;
  font-size: 16px;
}

.main {
  grid-area: main;
  padding: 120px;
}

.footer {
  grid-area: footer;
  background-color: darkred;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__derechos {
  font-size: 12px;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "aside"
      "main"
      "footer";
  }  

  .nav__logo {
    height: 35px;
    width: 105px;
    margin-left: 15px;
    cursor: none;
  }

  .aside {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .main {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-items: center;
  }

  .card {
    width: 80%;
    row-gap: 15px;
    border: 1px solid black;
    border-radius: 3%;
    overflow: hidden;
  }

  .card__button {
    font-size: 14px;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  } 

  .footer {
    height: 100px;
  }
}



@media (min-width: 901px) {
  .container {
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 15vh 80vh 5vh;
    grid-template-areas:
      "nav nav"
      "aside  main"
      "footer footer";
  }

  .aside__label {
    padding-top: 5px;
  }

  .aside__select {
    width: 80%;
    margin-bottom: 5px;
  }

  .footer {
    background-color: #360000;
    height: 50px;
  }

  .footer__social {
    cursor: pointer;
  }

  .footer__derechos {
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
  }
}