.footer{
    grid-area: footer;
    background-color: $footer-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    &__social{
      cursor:pointer;    
    }
    &__derechos{      
      padding-top: 10px;
      font-size: 10px;
      text-align: center;
    }
}