.main{
    grid-area: main;
    overflow-y: auto;
    &--products{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-items: center;
        gap: 25px 0;        
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &--about{        
        padding: 20px;        
        &__title{
            color: $theme-color;
            margin-bottom: 20px;
            font-weight: 700;
            text-align: center;    
        }
        &__subtitle{
            color: $theme-color;
            font-size: 24px;
            padding-left: 20px;    
        }
        &__text{
            color: $texto-color;
            text-align: justify;
            margin-top: 20px;
            padding: 20px;    
        }
    }
    &--jobs{
        overflow-y: auto;
        padding: 20px;
        &__title{
            color: $theme-color;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}