.main-products {
  grid-area: main;
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image{
    width: 100%;
    object-fit: cover;    
  }
  &__button{
    background-color: darkred;
    color: white;
    border: 1px solid darkred;
    font-weight: 700;    
  }
}