.main-about {
  grid-area: main;
  padding: 20px;
  &__title{
    color: darkred;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;    
  }
  &__subtitle{
    color: darkred;
    font-size: 24px;
    padding-left: 20px;    
  }
  &__text{
    color: #333;
    text-align: justify;
    margin-top: 20px;
    padding: 20px;    
  }
}
