.main{
    grid-area: main;
    overflow-y: auto;
    &--about{        
        padding: 20px;        
        &__title{
            color: $theme-color;
            margin-bottom: 20px;
            font-weight: 700;
            text-align: center;    
        }
        &__subtitle{
            color: $theme-color;
            font-size: 24px;
            padding-left: 20px;    
        }
        &__text{
            color: $texto-color;
            text-align: justify;
            margin-top: 20px;
            padding: 20px;    
        }
    }
}